html {
  background-color: #1b262c;
  text-align: center;
}

a {
  text-decoration: none;
}

input {
  background: transparent;
  border-bottom: 2px solid #00b7c2;
}

input:hover {
  border: 2px solid #00b7c2;
  transition: 0.2s;
}
input:not(:hover) {
  transition: 0.2s;
}

.title {
  color: #fdcb9e;
}

.description {
  color: #519872;
}

.copy {
  color: white;
}
